/* font */
/* variable */
:root {
  --base-color: #416999;
}

/* reset */



/* header */
.header-icon .icon>a {
  font-size: 20px;
}

.navbar .navbar-nav .nav-link {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .5px;
}

.navbar .navbar-nav .dropdown .dropdown-menu a {
  font-size: 16px;
  line-height: 28px;
}

.push-menu {
  width: 400px;
}

header .navbar-brand img {
  max-height: 35px;
}

.navbar .navbar-nav .simple-dropdown .dropdown-menu {
  border-radius: 5px;
}

.navbar .navbar-nav .simple-dropdown .dropdown-menu li a {
  padding: 9px 0 11px;
  border-bottom: 1px solid var(--light-medium-gray);
}

.navbar .navbar-nav .simple-dropdown .dropdown-menu li:first-child a {
  padding-top: 0;
}

.navbar .navbar-nav .simple-dropdown .dropdown-menu li:last-child a {
  border: 0;
  padding-bottom: 0;
}

.push-menu .close-menu {
  right: 30px;
  top: 30px;
}

/* typography */

/* subcribe style 02 */
.newsletter-style-02 .btn {
  padding: 7px 18px 9px 18px;
}

/* footer */
footer .input-small,
footer .textarea-small {
  font-size: 15px;
  padding-left: 20px;
}

footer .footer-logo img {
  max-height: 35px;
}

/* page title */
.page-title-extra-small h1 {
  font-size: 22px;
  line-height: 32px;
}

/* subcribe style 02 */
.newsletter-style-02 input {
  padding-right: 65px;
}

/* media query responsive */
@media (max-width: 1199px) {
  .newsletter-style-02 input {
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-nav .simple-dropdown .dropdown-menu {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .page-title-extra-small h1 {
    font-size: 20px;
    line-height: 28px;
  }

  .process-step-style-02 .progress-step-separator {
    display: block;
  }
}

@media (max-width: 575px) {
  .process-step-style-02 .progress-step-separator {
    display: none;
  }
}

.logo-small {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.logo-partner {
  width: 100%;
  height: auto;
}

.client-partner-pr {
  padding-right: 15px;
}

.br-w {
  border-right: 1px solid white;
}

.client-box-partner {
  display: flex;
  padding-left: 15px;
}

.opacity-extra-medium.bg-gradient-black-dark-orange {
  opacity: 0.8;
}


@media (max-width: 767px) {
  .br-w {
    border: none;
    margin-bottom: 10px !important;
  }

  .logo-partner {
    width: 68%;
    margin-top: 30px;

  }

  .client-box-partner svg {
    width: 60%;
  }

  .opacity-extra-medium.bg-gradient-black-dark-orange {
    opacity: 0.8;
  }


  .services-mobile {
    display: flex;
  }
}

.lazy-load-bg.companies {
  background-image: url('https://finoasis.mx/.netlify/images?url=/images/companies.jpg?&fit=cover&w=1920&h=1100&fm=webp');
}

.lazy-load-bg.footer {
  background-image: url('https://finoasis.mx/.netlify/images?url=/images/footer.jpg?&fit=cover&w=1920&h=908&fm=webp');
}


.fa-solid,
.fa-regular,
.fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.line-icon-Geo2-Love:before {
  content: "\e957";
}

.line-icon-Mail-Read:before {
  content: "\ea82";
}

.line-icon-Headset:before {
  content: "\e99e";
}

.fa-solid,
.fa-regular {
  font-family: "Font Awesome 6 Free";
}


.fa-brands {
  font-family: "Font Awesome 6 Brands";
}

@-webkit-keyframes fa-beat {

  0%,
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  45% {
    -webkit-transform: scale(var(--fa-beat-scale, 1.25));
    transform: scale(var(--fa-beat-scale, 1.25));
  }
}

@keyframes fa-beat {

  0%,
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  45% {
    -webkit-transform: scale(var(--fa-beat-scale, 1.25));
    transform: scale(var(--fa-beat-scale, 1.25));
  }
}

@-webkit-keyframes fa-bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  10% {
    -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
    transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
  }

  30% {
    -webkit-transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
    transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
  }

  50% {
    -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
    transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
  }

  57% {
    -webkit-transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
    transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
  }

  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes fa-bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  10% {
    -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
    transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
  }

  30% {
    -webkit-transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
    transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
  }

  50% {
    -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
    transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
  }

  57% {
    -webkit-transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
    transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
  }

  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
}

@-webkit-keyframes fa-fade {
  50% {
    opacity: var(--fa-fade-opacity, 0.4);
  }
}

@keyframes fa-fade {
  50% {
    opacity: var(--fa-fade-opacity, 0.4);
  }
}

@-webkit-keyframes fa-beat-fade {

  0%,
  100% {
    opacity: var(--fa-beat-fade-opacity, 0.4);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
    transform: scale(var(--fa-beat-fade-scale, 1.125));
  }
}

@keyframes fa-beat-fade {

  0%,
  100% {
    opacity: var(--fa-beat-fade-opacity, 0.4);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
    transform: scale(var(--fa-beat-fade-scale, 1.125));
  }
}

@-webkit-keyframes fa-flip {
  50% {
    -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
    transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
  }
}

@keyframes fa-flip {
  50% {
    -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
    transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
  }
}

@-webkit-keyframes fa-shake {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  4% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  8%,
  24% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  12%,
  28% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  20% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  32% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  36% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  40%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes fa-shake {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  4% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  8%,
  24% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  12%,
  28% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  20% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  32% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  36% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  40%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */

.fa-heart::before {
  content: "\f004";
}

.fa-warning-triangle::before {
  content: "\f071";
}

.fa-angle-down::before {
  content: "\f107";
}

.fa-play::before {
  content: "\f04b";
}

.fa-xmark::before {
  content: "\f00d";
}

:root {
  --fa-style-family-brands: "Font Awesome 6 Brands";
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

@font-face {
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.ttf") format("truetype");
}

.fa-brands {
  font-weight: 400;
}

.fa-facebook-f:before {
  content: "\f39e";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-linkedin:before {
  content: "\f08c";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-dribbble:before {
  content: "\f17d";
}

:root {
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.ttf") format("truetype");
}

.fa-regular {
  font-weight: 400;
}

:root {
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype");
}

.fa-solid {
  font-weight: 900;
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-display: block;
  font-weight: 400;
  src: url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.ttf") format("truetype");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-display: block;
  font-weight: 900;
  src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-display: block;
  font-weight: 400;
  src: url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.ttf") format("truetype");
  unicode-range: U+F003, U+F006, U+F014, U+F016-F017, U+F01A-F01B, U+F01D, U+F022, U+F03E, U+F044, U+F046, U+F05C-F05D, U+F06E, U+F070, U+F087-F088, U+F08A, U+F094, U+F096-F097, U+F09D, U+F0A0, U+F0A2, U+F0A4-F0A7, U+F0C5, U+F0C7, U+F0E5-F0E6, U+F0EB, U+F0F6-F0F8, U+F10C, U+F114-F115, U+F118-F11A, U+F11C-F11D, U+F133, U+F147, U+F14E, U+F150-F152, U+F185-F186, U+F18E, U+F190-F192, U+F196, U+F1C1-F1C9, U+F1D9, U+F1DB, U+F1E3, U+F1EA, U+F1F7, U+F1F9, U+F20A, U+F247-F248, U+F24A, U+F24D, U+F255-F25B, U+F25D, U+F271-F274, U+F278, U+F27B, U+F28C, U+F28E, U+F29C, U+F2B5, U+F2B7, U+F2BA, U+F2BC, U+F2BE, U+F2C0-F2C1, U+F2C3, U+F2D0, U+F2D2, U+F2D4, U+F2DC;
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("../fonts/fa-v4compatibility.woff2") format("woff2"), url("../fonts/fa-v4compatibility.ttf") format("truetype");
  unicode-range: U+F041, U+F047, U+F065-F066, U+F07D-F07E, U+F080, U+F08B, U+F08E, U+F090, U+F09A, U+F0AC, U+F0AE, U+F0B2, U+F0D0, U+F0D6, U+F0E4, U+F0EC, U+F10A-F10B, U+F123, U+F13E, U+F148-F149, U+F14C, U+F156, U+F15E, U+F160-F161, U+F163, U+F175-F178, U+F195, U+F1F8, U+F219, U+F27A;
}

/*!
    Themify
    Version: 1.0.1
    Plugin URL: https://themify.me/themify-icons
    License: Themify Icons font licensed under: http://scripts.sil.org/OFL
!*/
@font-face {
  font-family: "themify";
  src: url("../fonts/themify.eot?-fvbane");
  src: url("../fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify.woff?-fvbane") format("woff"), url("../fonts/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*!
    Icons mind
    Plugin URI: https://iconsmind.com/view_icons/
!*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?-rdmvgc");
  src: url("../fonts/icomoon.eot?#iefix-rdmvgc") format("embedded-opentype"), url("../fonts/icomoon.woff?-rdmvgc") format("woff"), url("../fonts/icomoon.ttf?-rdmvgc") format("truetype"), url("../fonts/icomoon.svg?-rdmvgc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=line-icon-],
[class*=" line-icon-"] {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-icon-Handshake:before {
  content: "\e993";
}

/*!
    Feather
    Plugin URL: https://feathericons.com/
!*/
@font-face {
  font-family: "feather";
  src: url("../fonts/feather.eot?t=1525787366991");
  /* IE9*/
  src: url("../fonts/feather.eot?t=1525787366991#iefix") format("embedded-opentype"), url("../fonts/feather.woff?t=1525787366991") format("woff"), url("../fonts/feather.ttf?t=1525787366991") format("truetype"), url("../fonts/feather.svg?t=1525787366991#feather") format("svg");
  /* iOS 4.1- */
}

.feather {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "feather" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feather-check:before {
  content: "\e83f";
}

.icon-feather-mail:before {
  content: "\e88a";
}

.icon-feather-map-pin:before {
  content: "\e88e";
}

.icon-feather-minus:before {
  content: "\e897";
}

.icon-feather-phone-call:before {
  content: "\e8a5";
}

.icon-feather-plus:before {
  content: "\e8b1";
}

.icon-feather-search:before {
  content: "\e8bd";
}

.icon-feather-x:before {
  content: "\e8f6";
}

/*!
    Bootstrap Icons
    Version: 1.11.3
    Plugin URL: (https://icons.getbootstrap.com/)
    License: Copyright 2019-2024 The Bootstrap Authors | Licensed under MIT (https://github.com/twbs/icons/blob/main/LICENSE)
!*/
@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("../fonts/bootstrap-icons.woff2?dd67030699838ea613ee6dbda90effa6") format("woff2"), url("../fonts/bootstrap-icons.woff?dd67030699838ea613ee6dbda90effa6") format("woff");
}

.bi::before,
[class^=bi-]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-calendar-check::before {
  content: "\f1e2";
}

.bi-clock::before {
  content: "\f293";
}

.bi-star-fill::before {
  content: "\f586";
}

.bi-wallet2::before {
  content: "\f615";
}

.line-icon-MaleFemale:before {
  content: "\ea93";
}

.line-icon-Globe-2:before {
  content: "\e96b";
}

.line-icon-Money-Bag:before {
  content: "\eac7";
}

.line-icon-Lock-2:before {
  content: "\ea58";
}

.line-icon-Loop:before {
  content: "\ea60";
}

.line-icon-Loop:before {
  content: "\ea60";
}

.line-icon-Management:before {
  content: "\ea95";
}

.line-icon-Money-2:before {
  content: "\eac6";
}

.line-icon-Money:before {
  content: "\eac9";
}

.line-icon-Globe:before {
  content: "\e96c";
}